<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/serverMessage') %>
    <main>
        <h1 class="alignCenter marginBottom30">Your account</h1>

        <form id="changeUserForm">
            <div id="loginDiv" class="logRegDiv">

                <input type="text" placeholder="username" name="username" value="<%=user%>" id="changeUsername"/>
                <input type="password" placeholder="old password" name="oldPassword" id="oldpw" />
                <input type="password" placeholder="new password" name="newPassword" id="newpw"/>
                <button class="marginTop30 marginBottom30" onclick="updateUser('<%=userId%>')">Change account settings</button>
                <p class="alignCenter marginTop30 width80 marginAuto">When you delete your account, all of your poems will be deleted as well.</p>

            </div>
        </form>
        <form id="deleteUserForm" class="logRegDiv">
            <button type="submit" class="bg-red" onclick="deleteUser('<%=userId%>')">Delete account</button>
        </form>
    </main>

    <script src="/main.js"></script>
   
</body>

</html>