<html lang="en">
  <head>
      <%- include('partials/header') %> 
  </head>
  <body>
    <%- include('partials/serverMessage') %>
    <main>
    <p>
      The Poetry Popper uses the cut-up technique, a literary technique in which a written text is cut up and rearranged to create a new text. The concept can be traced to the Dadaists of the 1920s, but it was developed and popularized in the 1950s and early 1960s, especially by writer William S. Burroughs. It has since been used in a wide variety of contexts.
    </p>

    <div>
        <h4>Some of the poems created with Poetry Popper</h4>
        <ul id="homePoems">
          <% for(let i = 0; i < poems.length; i++) { %>
          <li class="homePoem">
            <p><%= poems[i].name %>, <small>by <%= poems[i].postedBy?.username %></small></p>
            <p id="thePoem"><%= poems[i].poem %></p>
          </li>
          <% } %>
        </ul>
    </div>

    <p>Want more of this? <a href="">Create free account today</a></p>
    <p>Already a user? <a href="">Sign in</a></p>

  </main>
  </body>
</html>