<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/serverMessage') %>
    <main>
        <h2 class="marginBottom30">Public poems</h2>
        <ul>
            <% for(let i = 0; i < publicPoems.length; i++) { %>
            <li class="marginTopBottom10" id="poemLi">
                <div id="poemDiv" class="width80">
                    <span><%= publicPoems[i].name %></span><br>
                    <small>by <%= publicPoems[i].postedBy?.username %></small>
                </div>
                <div id="iconDiv">
                    <% if (publicPoems[i].userPoemMatch)  {%>
                    <i class="fas fa-solid fa-trash" onclick="handleDelete('<%= publicPoems[i]._id %>')"></i>
                    <%}%>

                    <a href="/poems/<%=publicPoems[i]._id%>">
                        <i class="fas fa-solid fa-book-open read" onclick="readPoem('<%= publicPoems[i]._id %>')"></i>
                    </a>
                </div>
            </li>
            <% } %>
        </ul>
        <%if(!isAuth) {%>
            <div id="loginOrReg">
                <small class="displayBlock alignCenter marginTopBottom10">Want more of this? <a href="/register">Create free account today</a></small>
                <small class="displayBlock alignCenter">Already a user? <a href="/login">Sign in</a></small>
            </div>
       <% } %>
   
    </main>

    <script src="/main.js"></script>

</body>

</html>