<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/serverMessage') %>
    <main>
      <h2>Public poems</h2>
      <ul>
        <% for(let i = 0; i < publicPoems.length; i++) { %>
        <li>
          <span><%= publicPoems[i].name %></span>
          <b><%= publicPoems[i].quote %></b>
          <small>by, <%= publicPoems[i].postedBy?.username %></small>
          <button class="btn"
            onclick="handleEdit('<%= publicPoems[i]._id %>', '<%= publicPoems[i].name %>', '<%= publicPoems[i].quote %>')"
          >
            edit
          </button>
          <button class="btn" onclick="handleDelete('<%= publicPoems[i]._id %>')">delete</button>
        </li>
        <% } %>
      </ul>

      <h2>Your Poems</h2>
      <ul>
        <% for(let i = 0; i < userPoems.length; i++) { %>
        <li>
          <span><%= userPoems[i].name %></span>
          <!-- <b><%= userPoems[i].quote %></b> -->
          <small>, by you</small>
          <button class="btn"
            onclick="handleEdit('<%= userPoems[i]._id %>', '<%= userPoems[i].name %>', '<%= userPoems[i].quote %>')"
          >
            edit
          </button>
          <button class="btn" onclick="handleDelete('<%= userPoems[i]._id %>')">
            delete
          </button>
          <button class="btn" onclick="readPoem('<%= userPoems[i]._id %>')">
            <a href="/poems/<%=userPoems[i]._id%>">Read poem</a>
          </button>
        </li>
        <% } %>
      </ul>

      <!-- <form id="addForm" action="/poems" method="POST">
        <h2>Add poem</h2>
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="poem" name="poem" />
        <fieldset>
          <legend>Select visibility</legend>
          <label for="public">Public</label>
          <input
            type="radio"
            name="visibility"
            id="visibility"
            value="public"
          />
          <label for="private">Private</label>
          <input
            type="radio"
            name="visibility"
            id="visibility"
            value="private"
          />
        </fieldset>
        <button type="submit">Submit</button>
      </form> -->

      <!-- Should appear after a quotes wants to be edited -->
      <form id="editForm" hidden>
        <h2>Edit poem</h2>
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="poem" name="poem" />
        <button type="submit">Save Change</button>
      </form>
    </main>
    <script>
      function handleDelete(id) {
        console.log("Delete was triggered with id", id);

        fetch(`/poems/${id}`, { method: "DELETE" })
          .then((resp) => {
            console.log(resp);
            if (resp.redirected) {
              window.location.href = resp.url;
            }
          })
          .catch((err) => console.log(err));
      }
      function readPoem(id) {
        console.log("read poem was triggered", id);

        fetch(`/poems/${id}`, { method: "GET" })
          .then((resp) => {
            console.log(resp);
            if (resp.redirected) {
              window.location.href = resp.url;
            }
          })
          .catch((err) => console.log(err));
      }

      function handleEdit(id, oldName, oldPoem) {
        console.log("I was was clicked!", id);
        // access each input and repopulate them
        const addForm = document.getElementById("addForm");
        const editFormEl = document.getElementById("editForm");

        // Hide add form
        addForm.hidden = true;

        // name
        editFormEl.elements.name.value = oldName;

        // quote
        editFormEl.elements.poem.value = oldPoem;

        // Show edit form
        document.getElementById("editForm").hidden = false;

        // Setup submit handler for edit form
        editFormEl.onsubmit = (evt) => {
          evt.preventDefault();
          // DONE send a put request to server
          // with new values for name and quote
          // with current selected id

          const newName = editFormEl.elements.name.value;

          const newPoem = editFormEl.elements.poem.value;

          // tip: use fetch
          fetch(`/poems/${id}`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json", // let server know that body is a string of json
            },
            body: JSON.stringify({ name: newName, poem: newPoem }),
          })
            .then((resp) => {
              console.log(resp);
              if (resp.redirected) {
                window.location.href = resp.url;
              }
            })
            .catch((err) => console.error(err));
        };
      }
    </script>
  </body>
</html>