<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/serverMessage') %>
    <main>
    <h1>Read poem</h1>
    <h2><%=poem.name%></h2>
    <p>
      <%=poem.poem%>
    </p>



  </main>
  </body>
</html>