<html lang="en">

<head>
  <%- include('partials/header') %>
</head>

<body>
  <%- include('partials/serverMessage') %>
  <main>
    <h2><%=poem.name%><small>, by <%=poem.postedBy?.username%></small></h2>
    <!-- <div id="thepoem"></div> -->
    <pre class="removePreLine"><%=poem.poem%></pre>

    <p class="marginTop30">Leave a nice comment!</p>
    <form id="commentForm">
      <input type="text" id="commentTextArea" name="comment">
      <button type="submit" onclick="postComment('<%= poem._id%>')">Send comment</button>
    </form>

    <% for(let i = 0; i < comments.length; i++) { %>
    <div class="commentDiv">
      <%if(comments[i].postedBy?.username) {%>
      <p class="commentPostedBy"><%=comments[i].postedBy?.username%> commented: </p>
      <%} else {%>
      <p class="commentPostedBy">Anonymous commented: </p>
      <%}%>
          <small class="comment"><%= comments[i].comment %></small>
    </div>
    <% } %>

  </main>

<script src="/main.js"></script>

</body>

</html>