<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/serverMessage') %>
    <main>
    <h2><%=poem.name%><small>, by <%=poem.postedBy?.username%></small></h2>
    <div id="thepoem"></div>
    <p>
      <%=poem.poem%>
    </p>

    <p class="marginTop30">Leave a nice comment!</p>
    <form>
      <input type="text" id="commentTextArea" name="comment">
      <button type="submit" onclick="postComment('<%= poem._id%>')">Send comment</button>
    </form>

    <% for(let i = 0; i < comments.length; i++) { %>
      <div class="commentDiv">
        <p class="commentPostedBy">Comment by, <%=comments[i].postedBy?.username%>: </p>
          <p class="comment"><%= comments[i].comment %></p>
      </div>
  <% } %>

  </main>

  <script>

    const comment = document.getElementById('commentTextArea');
    console.log(comment)

    function postComment(id) {

      fetch(`/poems/${id}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // let server know that body is a string of json
            },
            body: JSON.stringify({ comment: comment.value, id: id }),
          })
          .then((res) => {
                      console.log('response', res)
                      if (res.redirected) {
                        window.location.href = res.url;
                        console.log('was redirected')
                       }
                    })
            .catch((err) => console.error(err));
    }

  </script>

  </body>
</html>