<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/serverMessage') %>
    <main>
    <h2><%=poem.name%><small>, by <%=poem.postedBy?.username%></small></h2>
    <div id="thepoem">
    <p>
      <%=poem.poem%>
    </p>
  </div>



  </main>
  </body>
</html>