<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/serverMessage') %>
    <main>
    <h2>
      <span id="theTitle"><%=poem.name%></span>
      <small>, by <%=poem.postedBy?.username%> (<small id="visibility"><%=poem.visibility%></small>)</small>

    </h2>
    <div id="poemDiv">
    <p id="thePoem">
      <%=poem.poem%>
    </p>
   
   

    <button class="edit" onclick="handleEdit('<%=poem._id%>')">Edit poem</button>
  </div>

   <!-- Should appear after a poems wants to be edited -->
   <form id="editForm" hidden>
    <h2>Edit poem</h2>
    <div class="visibilityButtons">
      <input type="radio" name="visibility" id="public" value="public" >
      <label for="public">Public</label>
      <input type="radio" name="visibility" id="private" value="private" >
      <label for="private">Private</label>
  </div>
    <button type="submit">Save Change</button>
</form>



  </main>
  <script>
       function handleEdit(id) {
            const editFormEl = document.getElementById("editForm");
            const oldPoem = document.getElementById('thePoem')
            const oldName = document.getElementById('theTitle')
            const oldVisibility = document.getElementById('visibility').textContent
            
            oldPoem.contentEditable = "true";
            oldPoem.focus()
            oldName.contentEditable = "true";

            // Show edit form
            document.getElementById("editForm").hidden = false;
            editFormEl.elements.visibility.value = oldVisibility;
            console.log(oldVisibility)

            // Setup submit handler for edit form
            editFormEl.onsubmit = (e) => {
                e.preventDefault();

                const newName = oldName.innerText
                const newPoem = oldPoem.innerText
                const newVisibility = editFormEl.elements.visibility.value

                // tip: use fetch
                fetch(`/poems/${id}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json", // let server know that body is a string of json
                        },
                        body: JSON.stringify({
                            name: newName,
                            poem: newPoem,
                            visibility: newVisibility
                        }),
                    })
                    .then((resp) => {
                        console.log(resp);
                        if (resp.redirected) {
                            window.location.href = resp.url;
                        }
                    })
                    .catch((err) => console.error(err));
            };
        }
  </script>
  </body>
</html>