<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/serverMessage') %>
    <main>
    <h4>
      <span id="theTitle"><%=poem.name%></span><br>
      <small>by <%=poem.postedBy?.username%> (<small id="visibility"><%=poem.visibility%></small>)</small>

    </h4><br>
    <div id="poemDiv">
    <pre id="thePoem"><%=poem.poem%></pre>
   
    <button class="marginTop30" id="editBtn" onclick="handleEdit('<%=poem._id%>')">Edit poem</button>
  </div>

   <!-- Should appear after a poem wants to be edited -->
   <form id="editForm" hidden>
    <!-- <h2>Edit poem</h2> -->
    <div class="visibilityButtons">
      <input type="radio" name="visibility" id="public" value="public" >
      <label for="public">Public</label>
      <input type="radio" name="visibility" id="private" value="private" >
      <label for="private">Private</label>
  </div>
    <button type="submit">Save Change</button>
</form>

<% for(let i = 0; i < comments.length; i++) { %>
  <div class="commentDiv">
    <%if(comments[i].postedBy?.username) {%>
    <p class="commentPostedBy"><%=comments[i].postedBy?.username%> commented: </p>
    <%} else {%>
    <p class="commentPostedBy">Anonymous commented: </p>
    <%}%>
        <small class="comment"><%= comments[i].comment %></small>
  </div>
  <% } %>



  </main>
 
<script src="/main.js"></script>


  </body>
</html>