<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/serverMessage') %>
    <main>
    <h2><%=poem.name%><small>, by <%=poem.postedBy?.username%></small></h2>
    <div id="thepoem"></div>
    <p>
      <%=poem.poem%>
    </p>

    <h2><%=comments.map(comment => comment.comment)%></h2>

    <p>Leave a nice comment!</p>
    <form>
      <input type="text" id="commentTextArea" name="comment">
      <button type="submit" onclick="postComment('<%= poem._id%>')">Send comment</button>
    </form>


  </main>

  <script>

    const commentTextArea = document.getElementById('commentTextArea')

    function postComment(id) {
    console.log('id', id)

      fetch('/poems', {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // let server know that body is a string of json
            },
            body: JSON.stringify({ comment: commentTextArea.value, id: id }),
          })
            .then(res => res.json())
            .then(data => {
              console.log(data)
            })
            .catch((err) => console.error(err));
    }

    function getComments() {
      fetch('/poems', {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // let server know that body is a string of json
            },
            body: JSON.stringify({ comment: commentTextArea.value, id: id }),
          })
            .then(res => res.json())
            .catch((err) => console.error(err));
    }
        
  </script>

  </body>
</html>