<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/serverMessage') %>
    <main>
    <h2>
      <span id="theTitle"><%=poem.name%></span>
      <small>, by <%=poem.postedBy?.username%></small>
    </h2>
    <div id="poemDiv">
    <p id="thePoem">
      <%=poem.poem%>
    </p>

    <button class="edit" onclick="handleEdit('<%=poem._id%>')">Edit poem</button>
  </div>

   <!-- Should appear after a poems wants to be edited -->
   <form id="editForm" hidden>
    <h2>Edit poem</h2>
    <!-- <input type="text" placeholder="name" name="name" />
    <input type="text" placeholder="poem" name="poem" /> -->
    <button type="submit">Save Change</button>
</form>



  </main>
  <script>
       function handleEdit(id) {
            const editFormEl = document.getElementById("editForm");
            const oldPoem = document.getElementById('thePoem')
            const oldName = document.getElementById('theTitle')
            // oldPoem.setAttribute("contenteditable", true)
            oldPoem.contentEditable = "true";
            oldPoem.focus()
            oldName.contentEditable = "true";
            // oldName.focus()

            // name
            // editFormEl.elements.name.value = oldName;

            // poem
            // editFormEl.elements.poem.value = oldPoem;

            // Show edit form
            document.getElementById("editForm").hidden = false;

            // Setup submit handler for edit form
            editFormEl.onsubmit = (e) => {
                e.preventDefault();

                const newName = oldName.innerText

                const newPoem = oldPoem.innerText

                // tip: use fetch
                fetch(`/poems/${id}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json", // let server know that body is a string of json
                        },
                        body: JSON.stringify({
                            name: newName,
                            poem: newPoem
                        }),
                    })
                    .then((resp) => {
                        console.log(resp);
                        if (resp.redirected) {
                            window.location.href = resp.url;
                        }
                    })
                    .catch((err) => console.error(err));
            };
        }
  </script>
  </body>
</html>