<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/serverMessage') %>
    <main>

        <h2 class="marginBottom30">Your Poems</h2>
        <ul>
            <% for(let i = 0; i < userPoems.length; i++) { %>
            <li class="marginTopBottom10" id="poemLi">

                <div id="poemDiv" class="width80">
                    <span><%= userPoems[i].name %>, </span>
                    <span class="fontsize"><%=userPoems[i].visibility%></span>
                </div>
                <div id="iconDiv">
                    <!-- <i class="fas fa-sharp fa-solid fa-pen edit"
                        onclick="handleEdit('<%= userPoems[i]._id %>', '<%= userPoems[i].name %>', '<%= userPoems[i].poem %>')"></i> -->
                    <i class="fas fa-solid fa-trash delete" onclick="handleDelete('<%= userPoems[i]._id %>')"></i>

                    <a href="/poems/<%=userPoems[i]._id%>">
                        <i class="fas fa-solid fa-book-open read" onclick="readPoem('<%= userPoems[i]._id %>')"></i>
                    </a>

                </div>
            </li>
            <% } %>
        </ul>
    
    </main>

<script src="/main.js"></script>
   
</body>