<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/serverMessage') %>
    <main>

        <h2 class="marginBottom30">Your Poems</h2>
        <ul>
            <% for(let i = 0; i < userPoems.length; i++) { %>
            <li class="marginTopBottom10" id="poemLi">

                <div id="poemDiv">
                    <span><%= userPoems[i].name %></span>
                    <!-- <b><%= userPoems[i].poem %></b> -->
                    <small>by you</small>
                </div>
                <div id="iconDiv">
                    <!-- <i class="fas fa-sharp fa-solid fa-pen edit"
                        onclick="handleEdit('<%= userPoems[i]._id %>', '<%= userPoems[i].name %>', '<%= userPoems[i].poem %>')"></i> -->
                    <i class="fas fa-solid fa-trash delete" onclick="handleDelete('<%= userPoems[i]._id %>')"></i>

                    <a href="/poems/<%=userPoems[i]._id%>">
                        <i class="fas fa-solid fa-book-open read" onclick="readPoem('<%= userPoems[i]._id %>')"></i>
                    </a>

                </div>
            </li>
            <% } %>
        </ul>
    
    </main>

    <script>
        function handleDelete(id) {
            console.log("Delete was triggered with id", id);

            fetch(`/poems/${id}`, {
                    method: "DELETE"
                })
                .then((resp) => {
                    console.log(resp);
                    if (resp.redirected) {
                        window.location.href = resp.url;
                    }
                })
                .catch((err) => console.log(err));
        }

        function readPoem(id) {
            console.log("read poem was triggered", id);

            fetch(`/poems/${id}`, {
                    method: "GET"
                })
                .then((res) => {
                    console.log(res);
                    // if (res.redirected) {
                    //     window.location.href = res.url;
                    // }
                })
                .catch((err) => console.log(err));
        }

    </script>
</body>